version: '3'

services:
  version-control:
    container_name: version-control
    image: version-control
    restart: unless-stopped
    hostname: $HOSTNAME
    environment:
      #GITLAB_OMNIBUS_CONFIG: |
        #external_url 'https://$HOSTNAME'
        #gitlab_rails['gitlab_shell_ssh_port'] = 5022
        # Add any other gitlab.rb configuration here, each on its own line
    ports:
      - '5080:80'
      - '5443:443'
      - '5022:22'
    volumes:
      - './config:/etc/gitlab'
      - './logs:/var/log/gitlab'
      - './data:/var/opt/gitlab'
