version: '3'

services:
  web:
    image: 'version-control-gitlab'
    container_name: 'version-control-gitlab'
    restart: always
    hostname: $HOSTNAME
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url '$HOST_URL'
        letsencrypt['enable'] = false
    ports:
      - '${HOST_IP}:8080:80'
      - '${HOST_IP}:8443:443'
      - '${HOST_IP}:8022:22'
    volumes:
      - './volumes/config:/etc/gitlab'
      - './volumes/logs:/var/log/gitlab'
      - './volumes/gitlab/data:/var/opt/gitlab'
